@import "banner.css" ;
@import "button.css" ;
@import "cards.css" ;
@import "footer.css";

a{
	text-decoration: none;
}

body{
	margin: 0;
}

.container {
	width: 90%;
	margin: 24px auto;
	text-align: center;

}
.images {
	width: 90%;
	margin: 24px ;
	text-align: justify;
	object-position: right;
}

.images img {
	object-position: left;
}
